<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TechShop</title>
       <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">Tiendita Tecnologica</div>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="./ejemplo2" class="nav-link menu-item">Autos</a></li>
                    <li class="nav-menu-item"><a href="./multimedia" class="nav-link menu-item">Multimedia</a></li>
                    <li class="nav-menu-item"><a href="/iframes" class="nav-link menu-item">iFrames</a></li>
                </ul>
            </nav>
        </header>

        <aside>
            <p></p>
        </aside>
        <section>
            <h3>Esta es la tienda tecnologica en línea del curso</h3>
        </section>

        <footer>
            Todos los Derechos Reservados TechShop 2025 © :p
        </footer>
    </body>
</html>
